/* Header */

.header {
    position: fixed;
    width: -webkit-fill-available;
    z-index: 2;
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}

.header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header div img {
    width: 41px;
    border: solid 3px #BB000E;
    border-radius: 50px;
}

.header .logout {
    color: #BB000E;
    cursor: pointer;
}

.header .logout svg {
    margin-right: 5px;
}

.nav-item {
    margin: 0 7px;
}



/* SideBar */

.sidebar {
    width: 220px;
    position: fixed;
    height: 100%;
    background-color: #BB000E;
    padding-top: 80px;
    z-index: 1;
}

.sidebar.small {
    width: 50px;
}

.sidebar-navigation {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

.navigation-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px;
    cursor: pointer;
}

.navigation-item div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-item div p {
    margin: 0;
}

.navigation-item.active, .navigation-item:hover {
    background-color: #E31C25;
}

.navigation-item svg {
    margin-right: 20px;
}

.activities {
    background-color: #2C2C2C;
    margin: 30px 5px;
    padding: 5px;
}

.activities h3 {
    font-weight: 400;
    font-size: 24px;
    margin: 0 5px;
    border-bottom: solid 2px #FFFFFF;
}

.latest {
    list-style: none;
    padding: 0;
    margin: 0 5px;
    overflow-y: scroll;
    max-height: 60vh;
}

.latest::-webkit-scrollbar {
    display: none;
}
